<ion-content text-center > 
   
  <div class="desplazada"  class="background">
      <br>
      <br>

     <img class="centrado " style="width: 200px; height: 160px;"src="assets/imgs/telocompro.png">
     
      <ion-grid class="distancia_botones">  
          <ion-row>
              <ion-col>                   
                 <ion-button class="boton_tamanio centrado"  round color="primary" routerLink="/login">Iniciar Sesion</ion-button>
              </ion-col>
          </ion-row>
         <!--
          <ion-row>
              <ion-col>                   
                  <button class="boton_tamanio" ion-button round color="primary" (click)="onPageRegistrar()">Registrarse</button>
              </ion-col>
          </ion-row>
         -->
          <ion-row>
              <ion-col>                   
                <ion-button class="boton_tamanio centrado" ion-button round color="primary">Entrar como Invitado</ion-button>
              </ion-col>
          </ion-row>
          
  </ion-grid>
  </div>
  </ion-content>
  

<!--

<ion-content [fullscreen]="true" class="background" text-center >
 

  <div id="container" class="background">
    <p></p>
    <img style="width: 200px; height: 160px;"src="assets/imgs/telocompro.png">
     <p></p>
     <ion-button routerLink="/registro">Iniciar Sesión</ion-button>
  </div>
</ion-content>
-->